<!-- app/views/project_notification_mailer/notify_subject_completion.html.erb -->
<p>Subjects belonging to <%= @workflow_name %> workflow of project: <%= @project_name %> have hit <%= @completion_percentage %>% completion</p>

<p>Thanks,</p>

<p>The Zooniverse Team</p>
