<!-- app/views/project_notification_mailer/notify_prediction_change.html.erb -->
<p>Prediction run for <%= @workflow_name %> workflow of project: <%= @project_name %> have a significant change of <%= @change_difference %>% from last week's run</p>

<p>Thanks,</p>

<p>The Zooniverse Team</p>
